/**********************************************************
Made by : AS Amiens - Bovin Antoine/Bensaid Bohrane/Villain Benoit
Last Update : 19/06/2013
Name : Index.css => Plug-it
**********************************************************/

/*######ENTETE######*/

.Banniere
	{
	height: 137px;
    position: relative;
	background-color:#333333;
	min-width: 800px;
	}
	
.ul 
	{
	padding:0;
	margin:0;
	list-style-type:none;
	float: right;
	}
 
.li
	{
	margin-left:0px;
	float:left;
	line-height:50px;
	}
 
.ul li a 
	{
	display:block;
	float:left;   
	width:70px;
	background-color:#333333;
	color:white;
	text-decoration:none;
	text-align:center;
	padding:10px;
	border:0px solid;
	border-color:#DCDCDC #696969 #696969 #DCDCDC;
	}
.ul li a:hover 
	{
	background-color:#D3D3D3;
	border-color:#696969 #DCDCDC #DCDCDC #696969;
	} 

.menu td a
{
	display: block;
	height:100%;
	width:100%;
	text-decoration:none;
	color: #c0c0c0;
	font-weight:bold; 
	text-transform:uppercase;
}

.menu td:link
{
	text-decoration:none;
	color: #c0c0c0;
}

.menu td:visited
{
	text-decoration:none;
	color: #c0c0c0;
}

.menu td:hover
{
	background-color:#D3D3D3;
	border-color:#696969 #DCDCDC #DCDCDC #696969;
	color:white;
}

.menu td:active
{
	background-color:#D3D3D3;
	border-color:#696969 #DCDCDC #DCDCDC #696969;
	color:white;
}

/*#########CORPS#########*/
	
.Corps
	{
	position:relative;
	margin-top:5%;
	margin-left:0%;
	width:100%;
	min-height:400px;
	background-color:#FEFEFE;
	min-width: 800px;
	}
	
	
/*######PIED######*/

.Pied
	{
	padding-top:1%;
	position:relative;
	margin-top:5%;
	background-color:#333333;
	min-width: 800px;
	min-height: 60px; 
	}
	
.Pied a, .Pied a:visited	
	{
	text-decoration:none;
	color:#585141;
	}
	
.Pied a:active, .Pied a:hover	
	{
	text-decoration:none;
	color:#8f8369;
	}

/*#######PARAMETRES#######*/

.separation
	{
	position: absolute;
	height: 100%;
	width : 2px;
	background: black;
	}
	
.p 
	{
	text-align: right;
	margin-left:3%;
	}
	
.p .span 
	{
	float: left;
	}
	
.mail
	{
	text-decoration:none;
	color:#555555;
	}

.mail:hover
	{
	text-decoration:none;
	color:#F9BD1A;
	}

/*###########COMMON##########*/	

h2,h3
	{
	text-align: center;
	font-weight: normal;
	font-size:21px;
	line-height:21px;
	text-transform:uppercase;
	}
	
body
	{
	color:#555555;
	font-size:10pt;
	font-family: Arial,Helvetica,sans-serif;
	padding:0;
	margin: 0;
	}