/**********************************************************
Made by : AS Amiens - Bovin Antoine/Bensaid Bohrane/Villain Benoit
Last Update : 26/06/2013
Name : Index.css => Plug-it
**********************************************************/

/*######ENTETE######*/

.Banniere
	{
	height: 137px;
    position: relative;
	background-color:#333333;
	min-width: 1350px;
	}
	
.menu td
{
	width:14%;
	text-align:center;
	cursor: pointer;
	font-weight:bold; 
	text-transform:uppercase;
	font-size: 12px;
}

.menu_selected 
{
	background-color:#565656;
	border-color:#696969 #DCDCDC #DCDCDC #696969;
	color:white;
}

.menu td:link
{
	text-decoration:none;
	color: #c0c0c0;
}

.menu td:visited
{
	text-decoration:none;
	color: #c0c0c0;
}

.menu_unselected:hover
{
	background-color:#3e3e3e;
	border-color:#696969 #DCDCDC #DCDCDC #696969;
	color:white;
}
	/**je laisse ?**/
.menu td:active
{
	background-color:#D3D3D3;
	border-color:#696969 #DCDCDC #DCDCDC #696969;
	color:white;
}

/*#########CORPS#########*/
	
.Corps
	{
	position:relative;
	margin-left:0%;
	width:100%;
	min-height:400px;
	background-color:#FEFEFE;
	min-width: 1350px;
	}
	
	
/*######PIED######*/

.Pied
	{
	position:relative;
	margin-top:8%;
	background-color:#333333;
	min-width: 1350px;
	height: 40px; 
	text-transform:uppercase;
	font-size:10px;
	color:#757575;
	}
	
.boutbout
	{
	cursor: pointer;
	width:150px;
	text-align:center;
	}

.boutbout:hover
	{
	background-color:#f9bd1a;
	border-color:#696969 #DCDCDC #DCDCDC #696969;
	color:white;
	}
	
	
.Pied a, .Pied a:visited	
	{
	text-decoration:none;
	color:#585141;
	}
	
.Pied a:active, .Pied a:hover	
	{
	text-decoration:none;
	color:#8f8369;
	}
/*##########ADMIN#########*/

.menuverti
	{
	display:block;
	width:200px;
	background-color:#333333;
	color:white;
	text-decoration:none;
	text-align:center;
	padding:5px;
	border:2px solid;
	cursor: pointer;
	border-color:#DCDCDC #696969 #696969 #DCDCDC;
	}
.menuverti:hover
	{
	 background-color:#f9bd1a;
	 color:black;
	 border-color:#696969 #DCDCDC #DCDCDC #696969;
	}
	
.bt
	{
	text-decoration:none;
	font-weight:bold;
	color:#555555;
	}

.bt:hover
	{
	text-decoration:none;
	color:red;
	}

/*#######PARAMETRES#######*/

.separation
	{
	position: absolute;
	height: 100%;
	width : 2px;
	background: black;
	}
	
.mail
	{
	text-decoration:none;
	color:#555555;
	}

.mail:hover
	{
	text-decoration:none;
	color:#F9BD1A;
	}

.red
	{
	color:red;
	}

.table_accueil
	{
	margin:auto;
	width:80%;
	min-width: 800px;
	}

.table_accueil td
	{
	width: 10%;
	text-align: justify;
	}

.bouton
	{
	display:block;
	color:white;
	border:0px solid;
	text-decoration:none;
	text-align:center;
	background-color:#f9bd1a;
	border-color:#f9bd1a;
	width:50%;
	}
	
.bouton:hover
	{
	display:block;
	color:white;
	border:0px solid;
	text-decoration:none;
	text-align:center;
	background-color:#333333;
	border-color:#333333;
	}
	
#div_carte {
	height : 250px;
	width : 250px;
	margin : auto;
	border : 1px solid #888;
	}

/*##########SOLUTIONS#########*/
.blocksolution
{
	width:300px;
	height: 320px;
	background-color:#e0e0e0;
	cursor: pointer;
	padding:10px;
}

.blocksolution:hover
{
	background-color:#f9bd1a;
}


/*##########SERVICES#########*/
.blockservice
{
	width:300px;
	height: 250px;
	background-color:#e0e0e0;
	cursor: pointer;
}

.blockservice:hover
{
	background-color:#f9bd1a;
}

/*##########REFERENCE#########*/
.blockref
{
	width:200px;
	height: 250px;
}

.blocklink
{
	width:200px;
	height: 50px;
	background-color:#e0e0e0;
	cursor: pointer;
}
	
.blocklink:hover
{
	background-color:#f9bd1a;
	color: white;
}

.titre
	{
	font-size:115%;
	font-weight:bold;
	}
	
	
/*###########COMMON##########*/	

h2,h3
	{
	text-align: center;
	font-weight: normal;
	font-size:21px;
	line-height:21px;
	text-transform:uppercase;
	}
	
body
	{
	color:#555555;
	font-size:10pt;
	font-family: Arial,Helvetica,sans-serif;
	padding:0;
	margin: 0;
	}
html
{
	margin:0;
}