/**********************************************************
Made by : AS Amiens - Bovin Antoine/Bensaid Bohrane/Villain Benoit
Last Update : 19/06/2013
Name : Index.css => Plug-it
**********************************************************/

/*######ENTETE######*/

.Banniere
	{
	height: 137px;
    margin: -10px;
    position: relative;
	float:none;
	background-color:#333333;
	min-width: 800px;
	}
	
.ul 
	{
	padding:0;
	margin:0;
	list-style-type:none;
	float: right;
	}
 
.li
	{
	margin-left:0px;
	float:left;
	line-height:50px;
	}
 
.ul li a 
	{
	display:block;
	float:left;   
	width:100px;
	background-color:#333333;
	color:white;
	text-decoration:none;
	text-align:center;
	padding:10px;
	border:0px solid;
	border-color:#DCDCDC #696969 #696969 #DCDCDC;
	}
.ul li a:hover 
	{
	background-color:#D3D3D3;
	border-color:#696969 #DCDCDC #DCDCDC #696969;
	} 

/*#########CORPS#########*/
	
.Corps
	{
	position:relative;
	margin-top:5%;
	margin-left:0%;
	width:100%;
	float:none;
	min-height:400px;
	background-color:#FEFEFE;
	padding:15px;
	min-width: 800px;
	}
	
.Corps a, .Corps a:visited	
	{
	text-decoration:none;
	color:#585141;
	}
	
.Corps a:active, .Corps a:hover	
	{
	text-decoration:none;
	color:#8f8369;
	}
	
/*######PIED######*/

.Pied
	{
	padding-top:1%;
	position:relative;
	margin: -10px;
	margin-top:5%;
	background-color:#333333;
	min-width: 800px;
	min-height: 60px; 
	}
	
.Pied a, .Pied a:visited	
	{
	text-decoration:none;
	color:#585141;
	}
	
.Pied a:active, .Pied a:hover	
	{
	text-decoration:none;
	color:#8f8369;
	}

/*#######PARAMETRES#######*/

.separation
	{
	position: absolute;
	height: 100%;
	width : 2px;
	background: black;
	}
	
.p 
	{
	text-align: right;
	margin-left:3%;
	}
	
.p .span 
	{
	float: left;
	}


/*###########COMMON##########*/	

h2,h3
	{
	text-align: center;
	font-weight: normal;
	font-size:21px;
	line-height:21px;
	text-transform:uppercase;
	}
	
body
	{
	font-family: Arial,Helvetica,sans-serif;
	}